In [ ]:
!pip install chowtest

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: chowtest in /usr/local/lib/python3.8/dist-packages (0.1.4)
Requirement already satisfied: sklearn in /usr/local/lib/python3.8/dist-packages (from chowtest) (0.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from chowtest) (1.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from chowtest) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from chowtest) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->chowtest) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->chowtest) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->chowtest) (1.15.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.8/dist-packages (from sklearn->chowtest) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->sklearn->chowtest) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->sklearn->chowtest) (1.2.0)

In [ ]:
import pandas as pd
from chow_test import chow_test

In [ ]:
df_dados = pd.read_excel('dados_pest.xlsx', sheet_name='Planilha2')
df_dados.head()

,Unnamed: 0,Pesticides (total),Insecticides,Herbicides,Fungicides and Bactericides,Fungicides – Seed treatments,Insecticides – Seed Treatments,Unnamed: 7,VALOR,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,1990,49695.00,18388.00,22903.00,8404.00,0,0,NaN,99390.00,*,0,0.0
1,1991,58349.44,19556.78,27928.33,9711.11,0,0,NaN,115545.66,*,1,1.0
2,1992,67003.89,20725.56,32953.67,11018.22,0,0,NaN,131701.34,NaN,2,NaN
3,1993,75658.33,21894.33,37979.00,12325.33,0,0,NaN,147856.99,NaN,3,NaN
4,1994,84312.78,23063.11,43004.33,13632.44,0,0,NaN,164012.66,NaN,4,NaN

In [ ]:
def exec_chow_test(x, y, first, last, significance):
  return chow_test(X_series=x, y_series=y, last_index=last, first_index=first, significance= significance)

In [ ]:
exec_chow_test(df_dados['Unnamed: 0'], df_dados['VALOR '], 0, 1, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 0.0, P_value: 1.0

(0.0, 1.0)

In [ ]:
exec_chow_test(df_dados['Unnamed: 0'], df_dados['VALOR '], 11, 12, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 2.0637399944849477, P_value: 0.145860995815143

(2.0637399944849477, 0.145860995815143)

In [ ]:
exec_chow_test(df_dados['Unnamed: 0'], df_dados['VALOR '], 12, 13, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 3.176795648760651, P_value: 0.057095570232744586

(3.176795648760651, 0.057095570232744586)

In [ ]:
exec_chow_test(df_dados['Unnamed: 0'], df_dados['VALOR '], 13, 14, 0.05)

Reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 8.425659233581852, P_value: 0.0013657129865827233

(8.425659233581852, 0.0013657129865827233)

In [ ]:
exec_chow_test(df_dados['Unnamed: 0'], df_dados['VALOR '], 16, 17, 0.05)

Reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 20.473704547112636, P_value: 3.3186475092428225e-06

(20.473704547112636, 3.3186475092428225e-06)

In [ ]:
exec_chow_test(df_dados['Unnamed: 0'], df_dados['VALOR '], 22, 23, 0.05)

Reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 7.167550227500085, P_value: 0.0030648139378838257

(7.167550227500085, 0.0030648139378838257)

In [ ]:
exec_chow_test(df_dados['Unnamed: 0'], df_dados['VALOR '], 23, 24, 0.05)

Reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 7.562749774322245, P_value: 0.00236556287357903

(7.562749774322245, 0.00236556287357903)

In [ ]:
exec_chow_test(df_dados['Unnamed: 0'], df_dados['VALOR '], 24, 25, 0.05)

Reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 7.148411900768327, P_value: 0.003103872359716986

(7.148411900768327, 0.003103872359716986)

In [ ]:
exec_chow_test(df_dados['Unnamed: 0'], df_dados['VALOR '], 25, 26, 0.05)

Reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 8.026579021001067, P_value: 0.0017560374696817815

(8.026579021001067, 0.0017560374696817815)

In [ ]:
df_area_plantada = pd.read_excel('dados_area.xlsx')
df_area_plantada.head()

  Ano Agricola   Ano  Area Plantada (mil ha)  Producao (mil t)  Produtividade
0      1976/77  1976                    6949           12145.0       1.747733
1     1977/78   1977                    7780            9726.0       1.250129
2      1978/79  1978                    8151           10200.0       1.251380
3      1979/80  1979                    8756           14888.0       1.700320
4      1980/81  1980                    8693           15485.0       1.781318

In [ ]:
exec_chow_test(df_area_plantada['Ano'], df_area_plantada['Produtividade'], 0, 1, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 0.0, P_value: 1.0

(0.0, 1.0)

In [ ]:
exec_chow_test(df_area_plantada['Ano'], df_area_plantada['Produtividade'], 2, 3, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 1.8028934777720687, P_value: 0.17705782082074517

(1.8028934777720687, 0.17705782082074517)

In [ ]:
exec_chow_test(df_area_plantada['Ano'], df_area_plantada['Produtividade'], 4, 5, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: -0.14625443747466396, P_value: 1.0

(-0.14625443747466396, 1.0)

In [ ]:
exec_chow_test(df_area_plantada['Ano'], df_area_plantada['Produtividade'], 5, 6, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 0.6079955932518433, P_value: 0.5490544898699876

(0.6079955932518433, 0.5490544898699876)

In [ ]:
exec_chow_test(df_area_plantada['Ano'], df_area_plantada['Produtividade'], 7, 8, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 0.8123870126745578, P_value: 0.45049207145729975

(0.8123870126745578, 0.45049207145729975)

In [ ]:
exec_chow_test(df_area_plantada['Ano'], df_area_plantada['Produtividade'], 8, 9, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 0.8035865270903428, P_value: 0.45432927610941687

(0.8035865270903428, 0.45432927610941687)

In [ ]:
exec_chow_test(df_area_plantada['Ano'], df_area_plantada['Produtividade'], 9, 10, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: -0.4609826114868151, P_value: 1.0

(-0.4609826114868151, 1.0)

In [ ]:
exec_chow_test(df_area_plantada['Ano'], df_area_plantada['Produtividade'], 10, 11, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 0.763706543419958, P_value: 0.4721514259805697

(0.763706543419958, 0.4721514259805697)

In [ ]:
exec_chow_test(df_area_plantada['Ano'], df_area_plantada['Produtividade'], 11, 12, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 0.8123620829297561, P_value: 0.450502893341173

(0.8123620829297561, 0.450502893341173)

In [ ]:
exec_chow_test(df_area_plantada['Ano'], df_area_plantada['Produtividade'], 12, 13, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 0.6539514329358864, P_value: 0.5250807578318626

(0.6539514329358864, 0.5250807578318626)

In [ ]:
exec_chow_test(df_area_plantada['Ano'], df_area_plantada['Produtividade'], 13, 14, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 0.6495521928140643, P_value: 0.5273275435862848

(0.6495521928140643, 0.5273275435862848)

In [ ]:
exec_chow_test(df_area_plantada['Ano'], df_area_plantada['Produtividade'], 14, 15, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 0.4394335337010852, P_value: 0.6472626860090814

(0.4394335337010852, 0.6472626860090814)

In [ ]:
exec_chow_test(df_area_plantada['Ano'], df_area_plantada['Produtividade'], 23, 24, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 0.11121911716857558, P_value: 0.8949992146943193

(0.11121911716857558, 0.8949992146943193)

In [ ]:
exec_chow_test(df_area_plantada['Ano'], df_area_plantada['Produtividade'], 24, 25, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: -1.161369671690469, P_value: 1.0

(-1.161369671690469, 1.0)

In [ ]:
exec_chow_test(df_area_plantada['Ano'], df_area_plantada['Produtividade'], 25, 26, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 0.05385990028614589, P_value: 0.9476286714806128

(0.05385990028614589, 0.9476286714806128)

In [ ]:
exec_chow_test(df_area_plantada['Ano'], df_area_plantada['Produtividade'], 26, 27, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: -0.3831342324548623, P_value: 1.0

(-0.3831342324548623, 1.0)

In [ ]:
exec_chow_test(df_area_plantada['Ano'], df_area_plantada['Produtividade'], 29, 30, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: -0.4357135301816901, P_value: 1.0

(-0.4357135301816901, 1.0)

In [ ]:
exec_chow_test(df_area_plantada['Ano'], df_area_plantada['Produtividade'], 31, 32, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: -0.06610784118852671, P_value: 1.0

(-0.06610784118852671, 1.0)

In [ ]:
exec_chow_test(df_area_plantada['Ano'], df_area_plantada['Produtividade'], 32, 33, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: -0.163303577887203, P_value: 1.0

(-0.163303577887203, 1.0)

In [ ]:
exec_chow_test(df_area_plantada['Ano'], df_area_plantada['Produtividade'], 33, 34, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: -0.10044576199734366, P_value: 1.0

(-0.10044576199734366, 1.0)

In [ ]:
exec_chow_test(df_area_plantada['Ano'], df_area_plantada['Produtividade'], 34, 35, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: -0.7078388920547584, P_value: 1.0

(-0.7078388920547584, 1.0)

In [ ]:
exec_chow_test(df_area_plantada['Ano'], df_area_plantada['Produtividade'], 35, 36, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: -0.3489993334306835, P_value: 1.0

(-0.3489993334306835, 1.0)

In [ ]:
exec_chow_test(df_area_plantada['Ano'], df_area_plantada['Produtividade'], 39, 40, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: -0.03958780457205304, P_value: 1.0

(-0.03958780457205304, 1.0)

In [ ]:
exec_chow_test(df_area_plantada['Ano'], df_area_plantada['Produtividade'], 41, 42, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 0.43509307488947796, P_value: 0.6500219692509086

(0.43509307488947796, 0.6500219692509086)

In [ ]:
exec_chow_test(df_area_plantada['Ano'], df_area_plantada['Produtividade'], 44, 45, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 1.4947573183154, P_value: 0.23572575357162084

(1.4947573183154, 0.23572575357162084)

In [ ]:
df_maq_use = pd.read_excel('dados_maq.xlsx')
df_maq_use.head()

,Ano,Unnamed: 1,tratores,arados,máquinas para plantio,máquinas para colheita,maquinario
0,1970,0,165731,NaN,NaN,NaN,165731
1,1975,1,323109,NaN,NaN,NaN,323109
2,1980,2,545204,NaN,NaN,NaN,545204
3,1985,3,665280,NaN,NaN,NaN,665280
4,1995,4,803727,227943.0,NaN,NaN,1031670

In [ ]:
exec_chow_test(df_maq_use['Ano'], df_maq_use['maquinario'], 0, 1, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 0.0, P_value: 1.0

(0.0, 1.0)

In [ ]:
exec_chow_test(df_maq_use['Ano'], df_maq_use['maquinario'], 1, 2, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 0.5322473828932779, P_value: 0.6238033883539801

(0.5322473828932779, 0.6238033883539801)

In [ ]:
exec_chow_test(df_maq_use['Ano'], df_maq_use['maquinario'], 2, 3, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 1.2191673227330198, P_value: 0.38598718858571424

(1.2191673227330198, 0.38598718858571424)

In [ ]:
exec_chow_test(df_maq_use['Ano'], df_maq_use['maquinario'], 3, 4, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 2.2611780977896276, P_value: 0.22029296034721746

(2.2611780977896276, 0.22029296034721746)

In [ ]:
exec_chow_test(df_maq_use['Ano'], df_maq_use['maquinario'], 4, 5, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 3.511043301010284, P_value: 0.1317019922698368

(3.511043301010284, 0.1317019922698368)

In [ ]:
exec_chow_test(df_maq_use['Ano'], df_maq_use['maquinario'], 5, 6, 0.05)

Fail to reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 0.0996263632534943, P_value: 0.9073523260879892

(0.0996263632534943, 0.9073523260879892)